/* You can add global styles to this file, and also import other style files */
body
{
 background-color: #ffc107;
}
input.form-control,input.form-control:focus
{
 background-color: #ffc107;
 color: black;
 border-color: black;
 border-radius: 0px;
 border-width: 2px;
}
input.form-control:focus
{
 box-shadow: none;
 border-bottom-color: black;
}